@model pdks.Models.Departmanlar

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Seçili Kaydı Silmek İstediğinize Emin Misiniz?</h3>
<div>
    <h4>Departmanlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmanAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmanAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
